# Machine Learning Regression: Predicting Energy Efficiency Of Buildings
## For Hamoye Internship Stage B
## By Tito Akinyemi

## Loading the dataset

In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
# loading the dataset
df= pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

## Tag along code to Quiz

### Question 17
#### From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [36]:
# defining the x and y variables
x= df[['T2']]
y= df[['T6']]

#Now splitting the data into training and testing dataset.
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y,test_size= 0.3)

# importing the linear model
from sklearn.linear_model import LinearRegression

# creating the model 
linear_model= LinearRegression()

#fit the model 
linear_model.fit(x_train, y_train)

LinearRegression()

In [37]:
# testing the model on test data
model_prediction= linear_model.predict(x_test)

from sklearn.metrics import mean_squared_error

mae= mean_squared_error(y_test, model_prediction)
rmse= np.sqrt(mae)
round(rmse, 3)

3.625

### Question 18
#### Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

#### What is the Mean Absolute Error (in three decimal places) for the  training set?

In [56]:
# removing the columns in the dataset
df= df.drop(columns= ['date', 'lights'])

In [57]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [58]:
# normalizing the dataset
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

norm_df= pd.DataFrame(scaler.fit_transform(df) , columns= df.columns)
norm_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [64]:
#defining the dependent and independent variables x and y
x= df.drop(columns= ['Appliances'])
y= df['Appliances']

In [65]:
# Now splitting into  the training and testing dataset.
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 42)

In [67]:
# importing the model
from sklearn.linear_model import LinearRegression

# creating the model 
linear_model= LinearRegression()

#fit the model 
linear_model.fit(x_train, y_train)

# making preictions
train_pred= linear_model.predict(x_train)

# checking the mean_absolute_error
mae= mean_absolute_error(y_train, train_pred)
round(mae, 3)

53.742

### Question 19
#### What is the Root Mean Squared Error (in three decimal places) for the training set?

In [68]:
from sklearn.metrics import mean_squared_error

mse= mean_squared_error(y_train, train_pred)
rmse= np.sqrt(mse)
round(rmse, 3)

95.216

### Question 20
#### What is the Mean Absolute Error (in three decimal places) for test set?

In [69]:
# making the prediction on the test x data
test_pred= linear_model.predict(x_test)

# getting the mean absolute error of the prediction
test_mae= mean_absolute_error(y_test, test_pred)
round(test_mae, 3)

53.643

### Question 21
#### What is the Root Mean Squared Error (in three decimal places) for test set?

In [70]:
# getting the mean squared error of the prediction
mse= mean_squared_error(y_test, test_pred)

# taking the square root 
rmse= np.sqrt(mse)
round(rmse, 3)

93.64

### Question 23
#### Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [72]:
from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=0.5)
ridge= ridge_reg.fit(x_train, y_train)

In [73]:
ridge_prediction= ridge_reg.predict(x_test)
# testing the change
ridge_mse= mean_squared_error(y_test, ridge_prediction)
ridge_rmse= np.sqrt(ridge_mse)
round(ridge_rmse, 3)

93.641

### Question 24
#### Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [75]:
from sklearn.linear_model import Lasso
lasso_reg= Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

C:\Users\AJ\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.136e+06, tolerance: 1.464e+04
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.001)

In [77]:
weights= pd.Series(lasso_reg.coef_, x_train.columns ).sort_values()
weights_df= pd.DataFrame(weights).reset_index()
weights_df.columns=['Feature', 'Lasso_weight']
weights_df['Lasso_weight'].round(3)

weights_df

        Feature  Lasso_weight
0            T9 -2.113836e+01
1            T2 -1.836318e+01
2          RH_2 -1.373723e+01
3         T_out -1.105957e+01
4          RH_8 -5.778977e+00
5          RH_9 -1.762338e+00
6          RH_7 -1.691936e+00
7            T5 -1.601612e+00
8        RH_out -1.091186e+00
9            T1 -3.665146e-01
10          rv2  9.485053e-18
11          rv1  3.295809e-02
12  Press_mm_hg  1.702056e-01
13   Visibility  2.025350e-01
14         RH_5  2.575373e-01
15         RH_6  4.114501e-01
16           T7  1.034389e+00
17         RH_4  1.202900e+00
18    Windspeed  2.230566e+00
19           T4  2.788718e+00
20         RH_3  4.802045e+00
21    Tdewpoint  5.688957e+00
22           T6  7.360327e+00
23           T8  9.988261e+00
24         RH_1  1.629967e+01
25           T3  2.583110e+01

### Question 25
#### What is the new RMSE with the Lasso Regression on the test set?

In [85]:
# making a lasso_model prediction
lasso_prediction= lasso_reg.predict(x_test)
from sklearn.metrics import mean_squared_error

mse= mean_squared_error(y_test, lasso_prediction)
rmse= np.sqrt(mse)
round(rmse,3)

93.64