# Intro To Python For Machine Learning Quiz
## For Hamoye Internship
## By Akinyemi Tito

## Loading Dataset

In [127]:
# loading required libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
# loading the file required for the test
#assign link to file to a variable url
url= 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

#loading the csv file into a dataframe
#viewing the file 
df= pd.read_csv(url, encoding= "latin-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

# Tag Along Code to Each Question

### This segment will display each question from the quiz, the solution and the code used to arrive at my answer where applicable

### Question 1
####  1.  Which of these python data structures is unorderly? Dictionary, Set, Tuple, list

Ans: Set

### Question 2
####   2. What is the total number and percentage of missing data in 2014 to 3 decimal places?

Ans: 2.607

In [61]:
# check for the total number of missing data in 2014
null_rows_2014=df['Y2014'].isna().sum()

# get the total number of columns in the dataframe
total_no_of_rows= len(df)
print(null_rows_2014, total_no_of_rows)

# dividing the values to get the percentage
# use the round function to get the value in 3 decimal places
round(null_rows_2014/total_no_of_rows *100, 3)

1589 60943

2.607

### Question 3
3. ''' Given the following numpy array 

array  = ([[94, 89, 63],
             [93, 92, 48],
             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?'''

Ans:

In [74]:
# defining the array elements
array  = ([[94, 89, 63],
             [93, 92, 48],
             [92, 94, 56]])
#checking the type of array
print(type(array))

# changing the type to array 
array= np.array(array)
print(type(array))

# selecting the elements in bold and italics
array[:2, 1:]

<class 'list'>
<class 'numpy.ndarray'>

array([[89, 63],
       [92, 48]])

### Question 4
####   4. What is the total Protein supply quantity in Madagascar in 2015?

Ans: 173.05

In [76]:
# selecting the rows with Area as Madagascar 
mad=df[df['Area']== 'Madagascar']
mad.head()

# grouping the data by Element
#select the sum of Y2015 column for each element
mad.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [77]:
# another method to solving the question
# selecting the rows with Element as Protein supply quantity 
# assigning the data into a new dataframe ren
ren= mad[mad['Element'] =='Protein supply quantity (g/capita/day)']

#taking the sum for the year 2015
ren['Y2015'].sum()

173.04999999999998

### Question 5
####  5. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
- Ans: Guinea- Bissau

In [84]:
#grouping the dataframe by area
#selecting the Y2017 column
# sorting the values by ascending order and assigning it to a new dataframe
area_group= df.groupby('Area')['Y2017', 'Area'].sum().sort_values(by='Y2017', ascending = True)
area_group

# selecting the 7th lowest sum in 2017
# we select the sixth element due to zero-indexing
area_group.iloc[6]

C:\Users\AJ\AppData\Local\Temp\ipykernel_2564\1618993371.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  area_group= df.groupby('Area')['Y2017', 'Area'].sum().sort_values(by='Y2017', ascending = True)

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

### Question 6
####  6. A pandas Dataframe with dimensions (100,3) has how many features and observations?
  
- Ans: 100 observations and 3 features
- since each row is an observation and each column a feature

In [85]:
# checking for which is row and column
# by checking the shape of my given dataset

df.shape

(60943, 12)

### Question 7
 7. '''If you have the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below? '''

- Ans: pd.DataFrame(lst, columns= col, index= [i for i in range(1, 4)])

In [87]:
# defining the given lists 
# lst is a list of observations
# col contains the column names
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']

# creating the Dataframe
pd.DataFrame(lst, columns= col, index= [i for i in range(1, 4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Question 8
####   8. Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
  
- Ans: 292836.00

In [94]:
#grouping the dataframe by Element 
# selecting the Y2017 and Element columns
# taking the sum of the values
df.groupby('Element')['Y2017', 'Element'].sum()

C:\Users\AJ\AppData\Local\Temp\ipykernel_2564\2033535837.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Element')['Y2017', 'Element'].sum()

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

### Question 9
####   9. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
  
- Ans: Nigeria

In [102]:
# calling the area_group dataframe from earlier
area_group

#selecting the last item since it is in ascending order
area_group.iloc[-1]

Y2017    1483268.23
Name: Nigeria, dtype: float64

### Question 10
####  10. What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

- Ans : 'e'

In [103]:
# loading the given code
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Question 11
#### 11. What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
  - Ans : 140.92  and  1671.86

In [104]:
# taking the mean of the 2017 column and rounding it up to 2 decimal place
mean2017= round(df['Y2017'].mean(), 2)

# taking the standard deviation of the 2017 column and rounding it up to 2 decimal place
std2017=  round(df['Y2017'].std(), 2)

print('The mean and standard deviation across the dataset for 2017 is ', mean2017, ' and ', std2017 )

The mean and standard deviation across the dataset for 2017 is  140.92  and  1671.86

### Question 12
####  12. Which year had the least correlation with ‘Element Code’?
  - Ans: 2015

In [116]:
# plotting the correlation of al elements in the dataframe
# keep in mind a value closer to 0 is the least correlation
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

### Question 13
 13. '''Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6 '''

- Ans: TypeError

In [37]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Question 14
#### 14. Which of the following is a python inbuilt module? Pandas, Math, Matplotlib, Seaborn
  
 - Ans: math

### Question 15
####  15. What is the total number of unique countries in the dataset?
  - Ans: 49

In [43]:
df['Area'].nunique()

49

### Question 16
#### 16.Which of the following dataframe methods can be used to access elements across rows and columns?
 - Ans: df.iloc[:]

In [118]:
df.iloc[1:2]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

### Question 17
####   17. How would you check for the number of rows and columns in a pandas DataFrame named df?
- Ans: df.shape

In [119]:
df.shape

(60943, 12)

### Question 18
####  18. Answer the following questions based on the African food production dataset provided by the FAO website already provided

#### What is the total sum of Wine produced in 2015 and 2018 respectively?

- Ans: 4251.81	4039.32

In [121]:
# grouping the df by Item
# taking the sum of the required years
df.groupby('Item')['Y2015', 'Y2018', 'Item'].sum()

C:\Users\AJ\AppData\Local\Temp\ipykernel_2564\3272908469.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Item')['Y2015', 'Y2018', 'Item'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

### Question 19
####   19.Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?
- Ans: x= y[1][1] or x= y[1][-1]

In [126]:
#define the tuple y
y = [(2, 4), (7, 8), (1, 5, 9)]

# assigning the element to x
x= y[1][1]

# assigning the element to z using another method
z= y[1][-1]

#checking if the elements are the same
print(x, z)
print(x==z)

8 8
True

### Question 20
#### 20. Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
  ans: 2014

In [53]:
df.groupby('Element').agg(sum)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00